@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    min-height: 100vh;
    
}

.card-container{
    max-width: 1140px;
    margin: 0 100px;
    margin-top: 5em;
    display: flex;
    justify-content: center;
}


.card-sedan{
    position: relative;
    background-color: hsl(31, 77%, 52%);
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    border-radius: 10px 0 0 10px;
    padding: 48px;
}

.card-suvs{
    position: relative;
    background-color: hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 48px;
}

.card-luxury{
    position: relative;
    background-color: hsl(179, 100%, 13%);
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center;  */
    border-radius: 0 10px 10px 0;
    padding: 48px;
}

a button{
    background-color: hsl(0, 0%, 95%);
    border: none;
    padding: 10px 25px;
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;
    border-radius: 25px;
    text-decoration: none;
    color: hsl(0, 0%, 95%);
    margin-top: 60px;
    transition: all 0.2s ease-in;
    display: inline-block;
}

#grid-design{
    color: black;
    cursor: pointer;
    margin-top: 40px;
}

a button:hover {
    color: hsl(0, 0%, 95%);
    background: #ffffff00;

}

.card-sedan button{
    color: hsl(31, 77%, 52%);
}

.card-suvs button{
    color: hsl(184, 100%, 22%);
}

.card-luxury button{
    color: hsl(179, 100%, 13%);
}

p{
    font-family: 'Lexend Deca', sans-serif;
    color:  hsla(0, 0%, 100%, 0.75);
    line-height: 1.7;

}

h2{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 40px;

}

/* MEDIA QUERIES */

@media only screen and  (max-width: 768px) {
   

    .card-container{
        margin: 32px 16px;
        flex-direction: column;
    }

    a button {
        margin-top: 20px;
    }
}
    
